node_modules
.next
.turbo
.vercel
dist
out
coverage
.env
.env.local
.env.*.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
yarn.lock
pnpm-lock.yaml
*cookie*.txt
*.log
*.tsbuildinfo
.data/
prisma/dev.db
prisma/dev.db-journal
COMMIT_MESSAGE.txt
